* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

/* NAVBAR */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 15px 30px;

  background: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(10px);

  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.08);

  position: sticky;
  top: 0;
  z-index: 1000;
}

/* LOGO */
.navbar__logo h2 {
  color: #111827;
}

/* LINKS */
.navbar__links {
  display: flex;
  gap: 25px;

}

.navbar__links a {
  text-decoration: none;
  color: #374151;
  font-weight: 500;
  transition: 0.3s;
}

.navbar__links a:hover {
  color: #2563eb;
}

/* AUTH BUTTONS */
.navbar__auth {
  display: flex;
  gap: 10px;
}

.btn {
  padding: 8px 14px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  transition: 0.3s;
}

.login {
  background: transparent;
  border: 1px solid #2563eb;
  color: #2563eb;
  text-decoration: none;
}

.login:hover {
  background: #2563eb;
  color: white;
}

.register {
  background: #2563eb;
  color: white;
  text-decoration: none;
}

.register:hover {
  background: #1e40af;
}

/* HAMBURGER */
.hamburger {
  display: none;
  flex-direction: column;
  gap: 5px;
  cursor: pointer;
}

.hamburger span {
  width: 25px;
  height: 3px;
  background: #111827;
  border-radius: 5px;

}
.navbar__search {
  position: relative;
  width: 320px;
}

.navbar__search input {
  width: 100%;
  padding: 10px 14px;
  border: 1px solid #ddd;
  border-radius: 10px;
  outline: none;
}

.search-modal {
  position: absolute;
  top: 50px;
  left: 0;

  width: 100%;

  background: white;

  border-radius: 12px;

  box-shadow: 0 10px 30px rgba(0,0,0,.12);

  max-height: 400px;
  overflow-y: auto;

  z-index: 999;
}

.search-item {
  display: block;

  padding: 15px;

  text-decoration: none;
  color: black;

  border-bottom: 1px solid #eee;
}

.search-item:hover {
  background: #f8fafc;
}

.search-item h4 {
  margin-bottom: 5px;
}

.search-item p {
  color: #666;
  font-size: 14px;
}

.search-message {
  padding: 15px;
  text-align: center;
}

/* RESPONSIVE */
@media (max-width: 768px) {
  .navbar__links {
    position: absolute;
    top: 70px;
    left: 0;
    right: 0;

    flex-direction: column;
    background: white;

    padding: 20px;

    display: none;
  }

  .navbar__links.active {
    display: flex;
  }

  .navbar__auth {
    display: none;
  }

  .hamburger {
    display: flex;
  }
}
.LinkText{
  text-decoration: none;
}
